.dropDown {
  position: relative;
}

.selectedLang {
  border-radius: 6px;
  color: #2C2738;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  border: 1px solid #DBE2EA;
  box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
}

.active {
  border: 2px solid #0880AE;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #DBE2EA;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04), 0 20px 20px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  position: absolute;
  width: 100%;

  .item {
    padding: 12px 15px;
    list-style: none;
    color: #756F86;
    cursor: pointer;

    &:hover {
      background: #EBF4F8;
    }
  }
}
