.btn {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 18px 20px;
  box-shadow: 0 2px 4px rgba(44, 39, 56, 0.08), 0 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 6px;
}
