.wrapper {
  display: flex;
  margin-top: 38px;
  margin-bottom: 40px;
  align-items: center;

  .checkBox {
    width: 28px;
    height: 28px;
    border: 1px solid #DBE2EA;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
    text-align: center;
    padding: 1px;
    margin-right: 8px;
    cursor: pointer;

    svg {
      display: none;
    }
  }

  .active {
    border: 2px solid #0880AE;
    svg {
      display: inline-block;
    }
  }

  .conditions {

    color: #756F86;
    font-weight: 500;

    span {
      color: #0880AE;
      cursor: pointer;
    }
  }
}

