.form {
	max-width: 460px;
	margin: 0 auto;
	padding: 20px;

	color: var(--white);

	.label {
		margin-bottom: 7px;

		color: var(--gray-purple);

		font-size: 16px;
		font-weight: 500;
	}

	.wrapperCheckBox {
		display: flex;
		align-items: center;

		margin-top: 38px;
		margin-bottom: 40px;

		.checkBox {
			box-sizing: border-box;
			width: 28px;
			height: 28px;
			margin-right: 8px;
			padding: 1px;

			cursor: pointer;
			text-align: center;

			border: 1px solid var(--gray-light);
			border-radius: 4px;
			box-shadow: 0 4px 8px rgb(44 39 56 / 4%);

			svg {
				display: none;
			}
		}

		.activeCheckBox {
			border: 2px solid var(--primary);

			svg {
				display: inline-block;
			}
		}

		.conditions {
			color: var(--gray-purple);

			font-weight: 500;

			span {
				cursor: pointer;

				color: var(--primary);
			}
		}
	}

	.disableBtn {
		color: var(--gray);
		background: var(--gray-light);
	}

	.activeBtn {
		cursor: pointer;

		color: var(--blue-light);
		border-radius: 6px;
		background: var(--primary);
	}
}
