.App {
  color: white;
  max-width: 460px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-items: center;

  .label {
    color: #756F86;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 7px;
  }
}

